<p style="color: green"><%= notice %></p>

<h1>Bodies</h1>

<div id="bodies">
  <% @bodies.each do |body| %>
    <%= render body %>
    <p>
      <%= link_to "Show this body", body %>
    </p>
  <% end %>
</div>

<%= link_to "New body", new_body_path %>
